@font-face {
    font-family: 'Roboto';
    src: url('Roboto-ThinItalic-webfont.eot');
    src: url('Roboto-ThinItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('Roboto-ThinItalic-webfont.woff') format('woff'),
         url('Roboto-ThinItalic-webfont.ttf') format('truetype'),
         url('Roboto-ThinItalic-webfont.svg#RobotoThinItalic') format('svg'); 
    font-weight: 200;
    font-style: italic;
}






body{
    font-family: Roboto;
    background-color: rgb(248, 248, 248);
}

.first_header{
    width: 100%;
    height: 100px;
    background-color: rgb(235, 235, 235);
    display: flex;
}

.header-menu-wrapper{
    width: 85%;
    height: 100%;
    display: flex;
    margin: auto;
}

.menu-wrapper{
    width: 75%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
}

.logo-wrapper{
    display: flex;
    width: 200px;
    font-size: 30px;
    font-weight: 400;
}

.logo-text-wrapper{
    width: 180px;
    height: 40px;
    margin: auto;
    
}

.go-to-topics-wrapper{
    min-width: 330px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
}

.menu-button-wrapper{
    margin-right: 25px;
    background-color: rgb(77, 77, 77);
    padding: 15px;
    border-radius: 10px;
    font-size: 17px;
}

.simple-button{
    background-color: rgb(235, 235, 235);
    color: rgb(0, 27, 41);
    padding: 15px;
    border-radius: 10px;
}

.simple-button a{
    color: rgb(100, 100, 100);
    text-decoration: none;
    font-size: 17px;
}

.menu-button-wrapper:hover{
    cursor: pointer;
    background-color: rgb(29, 29, 29);
}

.munu-button-warpper-a{
    color: white;
    text-decoration: none;
}


main{
    width: 100%;
    background-color: rgb(248, 248, 248);
    
}

.main-wrapper{
    margin: 25px auto;
    width: 1000px;
}

.tmp_class_costil_edition{
    width: 100%;
    height: 500px;
    border: 1px solid grey;
}

.first_card{
    width: 100%;
    height: 700px;
    background-color: rgb(255, 255, 255);
    border-radius: 70px;
    padding: 80px 100px;
    color: rgb(32, 32, 32);
    font-size: 24px;
    margin-bottom: 100px;
    margin-top: 50px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.075);
}

.first_card h3{
    color: rgb(0, 27, 41);
    font-weight: 400;
    font-size: 44px;
    margin-bottom: 20px;
}

.first_card span{
    color: rgb(0, 27, 41);
    font-size: 24px;
    line-height: 1.75;
}

.big-button{
    display: block;
    background-color: rgb(79, 130, 223);
    padding: 15px;
    margin: 50px 0 ;
    border-radius: 20px;
    border: none;
}

.big-button-a{
    text-decoration: none;
}

.big-button-a button{
    color: white;
    font-size: 24px;
    text-decoration: none;
}

.footer{
    width: 100%;
    height: 200px;
    background-color: rgb(228, 228, 228);
    display: flex;
    padding: 50px 200px;
}

.footer-block{
    margin-right: 100px;
}

.footer-logo{
    font-size: 32px;
}

.footer-content-1 p a{
    color: rgb(100, 100, 100);
    text-decoration: none;
    font-size: 17px; 
}

.footer-content-1 p{
    margin: 5px 0;
}

/* .frame{
    border: 1px solid red;
} */

.feedback_button_block{
    background-color: rgb(79, 130, 223)
    
}

.feedback_button_block:hover{
    background-color: rgb(34, 81, 168);
    
}

.feedback_button span{
    color: white;
}





@media screen and (min-width: 1000px){

}

@media screen and (max-width: 999px ) and (min-width: 600px){
    .menu-wrapper{
        display: none;
    }

    .go-to-topics-wrapper{
        margin-left: auto;
    }

    .first_card{
        width: 600px;
        margin-left: auto;
        margin-right: auto;
        padding: 60px 80px;

    }

    .main-wrapper{
        width: 600px;
        margin-left: auto;
        margin-right: auto;
    }

    .footer-logo{
        width: 180px;
        margin: 0 auto;
    }

    .footer-logo-text{
        width: 180px;
    }

    .footer-content-1{
        margin: 0 auto;
    }

    .footer{
        padding: 50px 200px;
        padding-left: 100px;
    }
}

@media screen and (max-width:599px){
    .menu-wrapper{
        display: none;
    }

    .go-to-topics-wrapper{
        margin-left: auto;
        min-width: 250px;
        width: 60%;
    }



    .first_card{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding: 40px 60px;

    }

    .main-wrapper{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }



    .logo-wrapper{
        width: 40%;
        padding-left: 20px;

    }

    .logo-text-wrapper{
        font-size: 24px;
    }

    .menu-button-wrapper{
        width: 120px;
        height: 50px;
        padding-top: 10px;
    }

    .menu-button-wrapper span{
        font-size: 15px;
        
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        align-content: center;
    }

    .left-button{
        display: block;
        margin-bottom: 20px;
    }

    .right-button{
        display: block;
        margin-top: 7px;
    }

    .header-menu-wrapper{
        width: 100%;
    }

    .footer{
        padding-left: 50px;
    }
}