body{
    font-family: Roboto;
}

.personal_data_wrapper{
    background-color: white;
    width: 900px;
    border-radius: 60px;
    padding: 30px 60px;
    margin: 20px auto;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.075);
}

.personal_data_wrapper div{
    margin: 40px 0;
}

.personal_data_wrapper div p{
    font-size: 18px;
    margin: 10px 0;
}

.h1_personal_page{
    width: 900px;
    margin: 20px auto;
}

.buy_button{
    display: block;
    background-color: rgb(79, 130, 223);
    padding: 15px;
    margin: 20px 0 ;
    border-radius: 20px;
    border: none;
    color: white;
    font-size: 18px;
    text-decoration: none;
}