body{
    font-family: Roboto;
}

.main_stat{
    width: 1000px;
    margin: auto;
}

.title_stat{
    margin-left: 60px;
}

.all_stat_wrapper{
    width: 100%;

}

.one_stat_wrapper{
    width: 100%;
    height: 50px;
    display: flex;
    margin: 10px 0;
}

.stat_block_name{
    width: 30%;
    height: 100%;
    font-size: 18px;
}

.stat_color_block_wrapper{
    width: 70%;
    height: 15px;
    background-color: rgb(233, 233, 233);
    border-radius: 8px;
}

.stat_block{
    display: flex;
    justify-content: center;
    height: 20px;
    border-radius: 8px;
}

.procent_value{
    color: rgb(46, 46, 46);
}

.stat_wrapper{
    background-color: white;
    margin: auto;
    padding: 30px 60px;
    border-radius: 60px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.075);
}


@media screen and (min-width: 1000px){

}

@media screen and (max-width: 999px ) and (min-width: 600px){
    .main_stat{
        width: 100%;
    }
}

@media screen and (max-width:599px){
    .main_stat{
        width: 100%;
    }

    .title_stat{
        margin-left: 20px;
    }

    .one_stat_wrapper{        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
    }

    .stat_block_name{
        width: 100%;
    }

    .stat_color_block_wrapper{
        width: 100%;
    }

    .stat_wrapper{
        padding: 30px 20px;
    }
}

