:root{
    --nav-bar-width: 232px;
    --white-grey: rgb(249, 249, 249);
    --black-blue: #2E0B55;
    --black: #262626;
    --purpul: #A970F5;
    --white-purpul: #F6EEFF;
    --square-font: "IBM Plex Sans", Arial, sans-serif;
    --round-font: 'Nunito',Arial,sans-serif; 
    --icon_width: 24px;
    --grey: #F1F1F1;
    --green: #09ce81;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.link_wrapper{
    text-decoration: none;
}

.bor{
    border: 1px solid red;
}

.buss_card_body{
    width: 1150px;
    margin: 0 auto;
}

.buss_card_header{
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_left, .header_right{
    height: 100%;
    display: flex;
    align-items: center;
}

/*  позже возможно уберу width */
.header_logo_wrapper{
    width: 200px;
    height: 50px;

    font-size: 30px;
    color: var(--purpul);
    text-align: left;
    font-family: var(--round-font);
    font-weight: 700;

}

.header_logo_wrapper:hover{
    cursor: pointer;
}

.header_nav_wrapper{
    height: 25px;
    display: flex;

    font-family: var(--square-font);
    font-size: 16px;
    font-weight: 700;
    color: var(--black);
    
}

.header_nav_button_wrapper{
    width: 175px;
    height: 100%;

    text-align: center;
}

.header_nav_button_wrapper:hover{
    color: var(--purpul);
    cursor: pointer;
}

.list_tris{
    font-size: 9px;
}


.header_buttons{
    display: flex;
    height: 40px;
    align-items: center;
}

.start_lern_wrapper{
    height: 40px;
    width: 175px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;

    background-color: var(--white-purpul);
    border-radius: 20px;
    color: var(--purpul);
    font-family: var(--round-font);
    font-size: 14px;
    font-weight: 700;
    display: flex;
    align-items: center;   
}

.start_lern_wrapper:hover{
    background-color: var(--purpul);
    color: var(--white-purpul);
    cursor: pointer;
}


.login_wrapper{
    width: 90px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;

    border-radius: 20px;
    font-family: var(--square-font);
    font-size: 14px;
    background-color: var(--purpul);
    color: white;
    font-weight: 700;
}

.login_wrapper:hover{
    cursor: pointer;
    background-color:#6f3cb3;
}




.main_first_block{
    width: 100%;
    display: flex;

}

.main_left{
    width: 48%;
    margin-top: 20px;
    padding-right: 100px;


}

.main_right{
    width: 52%;
    margin-top: 70px;
    position: relative;

}


.main_text_wrapper{
    width: 100%;
    margin-top: 50px;
    
    font-family: var(--round-font);
    font-size: 64px;
    font-weight: 600;
    color: var(--black);
    line-height: 77px;


}

.second_text_wrapper{
    width: 100%;
    margin-top: 70px;
    
    font-size: 28px;
    line-height: 1.6;
    font-family: var(--round-font);
    color: var(--black);
}

.green_start_button_wrapper{
    width: 300px;
    height: 60px;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--green);
    border-radius: 30px;
    font-family: var(--square-font);
    font-size: 16px;
    color: white;
    font-weight: 700;
}

.green_start_button_wrapper:hover{
    cursor: pointer;
}


.grid_imgs_wrapper{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 35px;
}

.grid_img{
    width: 280px;
    height: 280px;
    margin: 0;
    padding: 0;
}

.grid_img{
    border-radius: 25px;
}



/* relative decales */
.green_line{
    position: absolute;
    width: 78px;
    height: 66px;
    
    left: 550px;
    top: 150px;    
}

.img_green_line{
    width: 100%;
    height: 100%;
}


.star{
    position: absolute;
    width: 45px;
    height: 45px;
    
    left: -100px;
    top: 160px;    
}

.img_star{
    width: 100%;
    height: 100%;
}


.half_round{
    position: absolute;
    width: 70px;
    height: 70px;
    
    left: -30px;
    top: 350px;    
}

.img_half_round{
    width: 100%;
    height: 100%;
}


.round{
    position: absolute;
    width: 85px;
    height: 85px;

    left: 555px;
    top: 550px; 
}

.img_round{
    width: 100%;
    height: 100%;
}


.arrow{
    position: absolute;
    width: 43px;
    height: 43px;
    
    left: -120px;
    top: 250px;    
}

.img_arrow{
    width: 100%;
    height: 100%;
}