.main_h, .second_h{
    font-size: 38px;
    font-weight: 600;
    color: #1e1e2f;
    padding-bottom: 6px;
}
.second_h {
    border-bottom: 1px solid rgb(199, 199, 199);
}
.main_h {
    margin-top: -40px;
    margin-bottom: 33px;
}

.table-wrapper {
    overflow-x: auto;
    margin-top: 20px;
}
.styled-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 16px;
}

.styled-table th, .styled-table td {
    border: 1px solid #ddd;
    padding: 10px 14px;
    text-align: left;
    vertical-align: middle;
}

.styled-table thead th {
    background-color: rgba(49, 35, 84, 0.3); /* светлый вариант #312354 */
    color: #1e1e2f;
    position: relative;
    white-space: nowrap;
}

.sort-buttons {
    display: inline-flex;
    gap: 2px;
    margin-left: 8px;
    vertical-align: middle;
}

.sort-button {
    background: transparent;
    border: none;
    color: #1e1e2f;
    font-size: 12px;
    cursor: pointer;
    padding: 0;
    line-height: 1;
    transition: color 0.2s;
}

.sort-button:hover {
    color: #ffffff;
}

.deadline {
    font-size: 0.9rem;
    font-weight: 500;
    color: #1e1e2f;
}

.class-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.left-controls,
.right-controls {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.action-button {
    background: linear-gradient(135deg, #7c85d1, #a49bdc);
    color: white;
    padding: 10px 18px;
    border-radius: 12px;
    border: none;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 3px 6px rgba(124, 133, 209, 0.25);
}

.action-button:hover {
    box-shadow: 0 6px 12px rgba(124, 133, 209, 0.4);
    transform: scale(1.05);
}

.action-button i {
    font-size: 16px;
}

/* Красная с градиентом */
.action-button.danger {
    background: linear-gradient(135deg, #e16b6b, #ec9a9a);
    color: white;
    box-shadow: 0 3px 6px rgba(225, 107, 107, 0.25);
}

.action-button.danger:hover {
    box-shadow: 0 6px 12px rgba(225, 107, 107, 0.4);
    transform: scale(1.05);
}

/* Оранжевая с градиентом */
.action-button.warning {
    background: linear-gradient(135deg, #f5a76c, #f2c285);
    color: white;
    box-shadow: 0 3px 6px rgba(245, 167, 108, 0.25);
}

.action-button.warning:hover {
    box-shadow: 0 6px 12px rgba(245, 167, 108, 0.4);
    transform: scale(1.05);
}

.action-button.plus {
    background: linear-gradient(135deg, #00cba9, #3ddc84);
    font-size: 16px;
    color: white;
    box-shadow: 0 3px 6px rgba(245, 167, 108, 0.25);
}

.action-button.plus:hover {
    box-shadow: 0 6px 12px rgba(245, 167, 108, 0.4);
    transform: scale(1.05);
}
