.intro_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    background-color: #fefefe;
    font-family: 'Segoe UI', sans-serif;
    flex-wrap: wrap;
    gap: 40px;
}
.highlight {
    color: #6c3fd9;
    font-weight: 700;
}
.trajectory_card {
    background: white;
    margin-top: 10px;
    box-shadow: 0 12px 32px rgba(0, 0, 0, 0.08);
    border-radius: 24px;
    padding: 20px 25px;
    width: 750px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    flex: 2;
}
.intro_image {
    flex: 1;
}

.trajectory_card:hover {
    transform: translateY(-10px);
    box-shadow: 0 16px 40px rgba(49, 35, 84, 0.2);
}
.intro_content p {
    font-size: 26px;
    line-height: 1.6;
    color: #333;
    margin-bottom: 15px;
}

.intro_bullets {
    list-style: none;
    padding: 0;
    margin: 0 0 15px;
}

.intro_bullets li {
    font-size: 20px;
    margin-bottom: 12px;
    color: #1f1f3d;
}

@keyframes gradientAnimation {
    0% {
        background: linear-gradient(135deg, #00cba9, #3ddc84);
    }
    25% {
        background: linear-gradient(135deg, #3ddc84, #00cba9);
    }
    50% {
        background: linear-gradient(135deg, #00cba9, #3ddc84);
    }
    75% {
        background: linear-gradient(135deg, #3ddc84, #00cba9);
    }
    100% {
        background: linear-gradient(135deg, #00cba9, #3ddc84);
    }
}

.start_button {
    color: white;
    margin-left: 250px;
    margin-top: 30px;
    padding: 16px 48px;
    font-size: 26px;
    border-radius: 40px;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    box-shadow: 0 8px 24px rgba(0, 203, 169, 0.3);
    animation: gradientAnimation 10s ease infinite; /* Увеличено время анимации до 10 секунд */
}

.start_button:hover {
    transform: scale(1.05);
}

.intro_image {
    flex: 1 1 400px;
    text-align: center;
}

.intro_image img {
    max-width: 100%;
    height: auto;
}

/* Адаптив */
@media (max-width: 768px) {
    .intro_section {
        flex-direction: column-reverse;
        text-align: center;
        padding: 40px 20px;
    }

    .intro_content h1 {
        font-size: 32px;
    }

    .intro_content p {
        font-size: 18px;
    }

    .start_button {
        justify-content: center;
    }
}

.main_h, .second_h{
    font-size: 38px;
    font-weight: 600;
    color: #1e1e2f;
    padding-bottom: 6px;
}
.second_h {
}
.main_h {
    margin-top: -20px;
    margin-bottom: 33px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(199, 199, 199);
}
