body{
    font-family: Roboto;
    background-color: rgb(235, 235, 235);
}

.header{
    width: 100%;
    height: 80px;
    background-color: rgb(235, 235, 235);
    display: flex;
    align-items: center;
    /* justify-content: right; */
    border-bottom: 1px solid rgb(238, 238, 238);
}

.logo_parent_wrapper{
    display: flex;
    margin-right: auto;
    margin-left: 100px;
    width: 200px;
    font-size: 30px;
    font-weight: 400;
}

.logo-parent-a{
    text-decoration: none;
}

.logo_parent{
    height: 40px;
    margin: auto;
    color: black;
}

.to_topics_button_wrapper{
    margin-right: 30px;
    background-color: rgb(66, 66, 66);
    padding: 15px;
    border-radius: 10px;
    font-size: 17px;
}

.to_topics_button_wrapper a{
    color: white;
    text-decoration: none;
    font-size: 17px;
}

.to_topics_button_wrapper:hover{
    cursor: pointer;
    background-color: rgb(34, 34, 34);
}

.left_menu{
    height: 100vh;
    width: 50px;
    background-color: rgb(66, 66, 66);
    position: fixed;
    left: 0;
    top: 0; 
    overflow: auto;
}

.closed_icon{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px 0;
}

.closed_icon:hover{
    cursor: pointer;
}

.closed_icon_line{
    width: 30px;
    height: 4px;
    background-color: white;
    border-radius: 2px;
    margin: 3px;

}

.left_menu_content_wrapper, .opening_menu_content_wrapper{
    width: 80%;
    margin: 20px auto;
}

.left_menu_content, .opening_menu_content{
    width: 100%;
    padding: 20px 10px;
    margin: 10px 0;
    color: white;
    background-color: rgb(82, 82, 82);
    border-radius: 20px;
    line-height: 2;
}

.left_menu_content a, .opening_menu_content a{
    color: white;
    text-decoration: none;
}

.left_menu_content a:hover{
    color: rgb(180, 180, 180);
}


.user_button{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 20px;
    background-image: url('/user_img/user_img_1.jpg');
    background-size: cover; 
    background-position: center;
}

.user_button:hover{
    cursor: pointer;
}


.user_info{
    position: absolute;
    top:50px;
    right: 50px;
    width: 250px;
    background-color: rgb(66, 66, 66);
    border-radius: 10px;
}

.topic{
    padding: 5px 0;
    margin-bottom: 5px;
    font-size: 16px;
}


.link-wrapper{
    margin-left: 20px;
}

.feedback_button_block{
    background-color: rgb(59, 116, 221);
    
}

.feedback_button_block:hover{
    background-color: rgb(34, 81, 168);
    
}

.feedback_button span{
    color: white;
}

main{
    width: 100%; 
}

.header_left{
    display: flex;
    width: 30%; 
    align-items: center;
    justify-content: left;
       
}

.header_right{
    display: flex;
    width: 70%;
    align-items: center;
    justify-content: right;
    
}

.header_right_first{
    display: flex;
    justify-content: right;
    align-items: center;
}

.header_right_second{
    display: flex;

    justify-content: right;
    align-items: center;
}


/* #user-menu-clear{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(145, 61, 61, 1);
}

#left-menu-clear{

} */



@media screen and (min-width: 1000px){
    
}


@media screen and (max-width: 999px ) and (min-width: 600px){
    .header{
        flex-direction: column;
        height: 130px;
        padding:  20px 0;
        
    }

    .left_menu{
        display: none;
    }

    .logo_parent_wrapper{
        margin: auto;
    }


    .header_left{
        width: 100%;
        justify-content: center;
        align-items: center        
    }

    .header_right{
        width: 100%;
        justify-content: center;
    }

    .left_menu{
        background-color: transparent;
    }

    .closed_icon_line{
        background-color: rgb(66, 66, 66);
    }
}


@media screen and (max-width:599px){

    .header{
        flex-direction: column;
        height: 210px;
        padding:  20px 0;
        
    }

    .left_menu{
        display: none;
    }

    .logo_parent_wrapper{
        margin: auto;
    }


    .header_left{
        width: 100%;
        justify-content: center;
        align-items: center        
    }

    .header_right{
        width: 100%;
        margin-top: 15px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .header_right_second{
        width: 100%;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
    }

    .left_menu{
        background-color: transparent;
    }

    .closed_icon_line{
        background-color: rgb(66, 66, 66);
    }



}
