/* task_bank.css */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #fefefe;
    color: #2c2c2c;
}
.topic_header {
    margin-top: -40px;
    margin-left: -90px;
    background-color: #fefefe;
    border-bottom: 1px solid #e5e7eb;
    padding: 24px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 0 16px 16px;
    width: 112.5%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.second_h {
    padding-left: 55px;
    padding-right: 800px;
    font-size: 32px;
    font-weight: 600;
    color: #1e1e2f;
}

.header_left_bottom {
    padding-left: 58px;
    font-size: 18px;
    color: #3e3e5e;
    line-height: 1.6;
    margin-top: 8px;
}

.main_wrapper {
    padding: 20px 40px 40px 40px;
    max-width: 1100px;
    margin: 0 auto;
}

form p {
        margin: 0 0 10px;
        font-size: 20px;
        color: #312354;
        font-weight: bold;
}

form img {
    max-width: 100%;
    height: auto;
    border: 1px solid #e5e7eb;
    border-radius: 8px;
    margin-bottom: 12px;
}
.answer-row {
    display: flex;
    align-items: center;
    gap: 15px; /* расстояние между полем и кнопкой */
    margin-bottom: 35px;
    
}

.answer-row input[type="text"] {
    flex: 1; /* поле занимает всё доступное пространство */
    padding: 8px 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.answer-row input[type="button"] {
    padding: 8px 20px;
    font-size: 16px;
    font-weight: 600;
    background: linear-gradient(135deg, #00cba9, #3ddc84);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    letter-spacing: 0.5px;
    white-space: nowrap;
    box-shadow: 0 2px 4px rgba(0, 203, 169, 0.3);
}

.answer-row input[type="button"]:hover {
    background: linear-gradient(135deg, #3ddc84, #00cba9);
}


input[type="text"]:focus {
    outline: none;
    border-color: #2563eb;
    box-shadow: 0 0 0 2px rgba(37,99,235,0.3);
}


