body {
    font-family: 'Montserrat', sans-serif;
    background-color: #fefefe;
    color: #2c2c2c;
    margin-left: 250px; 
    
}

.topic_header {
    background-color: #fefefe;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 24px 32px;
    border-radius: 0 0 16px 16px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 40px;
}
.header_left_top h2 {
    padding-left: 55px;
    max-width: 84%;
    font-size: 32px;
    font-weight: 600;
    color: #1e1e2f;
    margin-bottom: 12px;
}
.header_left_bottom {
    padding-left: 58px;
    font-size: 18px;
    color: #3e3e5e;
    line-height: 1.6;
    max-width: 100%;
}

.main_wrapper {
    display: flex;
    gap: 80px;
    padding-left: 90px;
    padding-right: 90px;
    margin: auto;
}

.main_left_video {
    flex: 7;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.main_right_thesises {
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
iframe {
    width: 100%;
    max-width: 100%;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
.add_button {
    background: linear-gradient(135deg, #00cba9, #3ddc84);
    color: white;
    padding: 14px 32px;
    font-size: 16px;
    border-radius: 40px;
    font-weight: 600;
    box-shadow: 0 8px 24px rgba(0, 203, 169, 0.3);
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;           
    width: fit-content;
    margin-left: auto;          
    transition: all 0.3s ease;
}

.add_button:hover {
    background: linear-gradient(135deg, #3ddc84, #00cba9);
    transform: translateY(-2px);
}

.add_button * {
    text-decoration: none;        
}


.thesis {
    background-color: white;
    border-left: 5px solid #312354;
    padding: 20px;
    border-radius: 10px;

    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.thesis_name {
    margin: 0 0 10px;
    font-size: 20px;
    color: #312354;
    font-weight: bold;
}

.thesis_descr {
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
    color: #4a4a4a;
}

@media (max-width: 992px) {
    .main_wrapper {
        flex-direction: column;
        padding: 30px;
    }

    .main_right_thesises {
        order: -1;
    }

    .topic_header {
        flex-direction: column;
        text-align: center;
    }

    .header_left_bottom {
        max-width: 100%;
    }
}
