:root{
    --nav-bar-width: 232px;
    --white-grey: rgb(249, 249, 249);
    --white-purpul: #F6EEFF;
    --icon_width: 24px;
    --grey: #F1F1F1;
    --green: #09ce81;

    --stat_name_width: 200px;

    --block_width: 200px;
    --block_height: 100px;
    --block_space: 66px;
    --block_space_start: 50px;
    --block_space_and_width: 266px;
    --block_vertical_shift: 85px;
    --block_vertical_start: 250px;
}


.trajectory_wrapper{
    width: 100%;
    min-height: 75vh;
    margin-bottom: 150px;


    /* background-color: rgb(243, 243, 243); */
    border-radius: 15px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
    
    background-image: url(./img/trajectory_back.jpg);
    background-repeat: repeat-x;
    background-attachment: local;
    overflow-x: auto;

    position: relative;
    
}




.topic_block{
    width: var(--block_width);
    height: var(--block_height);

    background-color: rgb(250, 250, 250);
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    font-family: var(--round-font);
    font-size: 14px;
    font-weight: 700;
    color: rgb(90, 90, 90);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;


    position:absolute;

}

.topic_block:hover{
    cursor: pointer;
}

.topic_block_done{
    background-color: var(--green);
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.topic_block_special{
    background-color: var(--purpul);
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.topic_block_blocked{
    background-color: #ececec;
    color: rgb(90, 90, 90);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.topic_block_current{
    background-color: white;
    color: rgb(90, 90, 90);
}


#block_1{
    top: 250px;
    left: 50px;
}

#block_2{
    top: 250px;
    left: calc(var(--block_space_start) + var(--block_space_and_width));
}

#block_3{
    top: calc(var(--block_vertical_start) - var(--block_vertical_shift));
    left: calc(var(--block_space_start) + 2*var(--block_space_and_width))
}

#block_4{
    top: calc(var(--block_vertical_start) + var(--block_vertical_shift));
    left: calc(var(--block_space_start) + 2*var(--block_space_and_width))
}

#block_5{
    top: 250px;
    left: calc(var(--block_space_start) + 3*var(--block_space_and_width))
}

#block_6{
    top: 250px;
    left: calc(var(--block_space_start) + 4*var(--block_space_and_width))
}

#block_7{
    top: 250px;
    left: calc(var(--block_space_start) + 5*var(--block_space_and_width))
}





.topic_arrow_right{
    width: var(--block_space);

    position: absolute;
    top: 293px;
    left: calc(var(--block_space_start) + var(--block_width))

}

.topic_arrow_top_input{
    width: var(--block_space);

    position: absolute;
    top: 210px;
    left: calc(var(--block_space_start) + var(--block_width) + var(--block_space_and_width));

}

.topic_arrow_bottom_input{
    width: var(--block_space);

    position: absolute;
    top: 300px;
    left: calc(var(--block_space_start) + var(--block_width) + var(--block_space_and_width));

}

.topic_arrow_top_output{
    width: var(--block_space);

    position: absolute;
    top: 214px;
    left: calc(var(--block_space_start) + var(--block_width) + 2*var(--block_space_and_width));

}

.topic_arrow_bottom_output{
    width: var(--block_space);

    position: absolute;
    top: 294px;
    left: calc(var(--block_space_start) + var(--block_width) + 2*var(--block_space_and_width));

}

.topic_arrow_right_img, .topic_arrow_top_img, .topic_arrow_bottom_img{
    width: 100%;
    height: 100%;
}

#arrow_6{
    left: calc(var(--block_space_start) + var(--block_width) + 3*var(--block_space_and_width));
}

#arrow_7{
    left: calc(var(--block_space_start) + var(--block_width) + 4*var(--block_space_and_width));
}